<% layout('layouts/boilerplate')%>
<h1><%= album.name %> <%= album.rating %></h1>
<h2><%= album.artist %></h2>
<h3>
  <a href="/albums?artist=<%= album.artist %>"
    >See all <%= album.artist %> albums you've rated so far</a
  >
</h3>

<a href="/albums/<%= album._id %>/edit">Edit this album</a>
<form action="/albums/<%= album._id %>?_method=DELETE" method="POST">
  <button>Delete this album</button>
</form>

<a href="/albums">See all albums</a>
