<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update the album info</title>
  </head>
  <body>
    <h1>Update your album: <%= album.name %></h1>
    <form action="/albums/<%= album._id %>?_method=PATCH" method="POST">
      <label for="name">Album name</label>
      <input type="text" name="name" id="name" value="<%= album.name %>" />
      <label for="rating">Rating</label>
      <input
        type="float"
        name="rating"
        id="rating"
        value="<%= album.rating %>"
      />
      <label for="artist">Artist</label>
      <input
        type="text"
        name="artist"
        id="artist"
        value="<%= album.artist %>"
      />
      <button>Submit</button>

      <a href="/albums/<%= album._id %>">Cancel</a>
    </form>
  </body>
</html>
