<% layout('layouts/boilerplate')%>

<div>
  <% albums.sort( (a, b)=> { if (a.rating ===b.rating) { return a.name < b.name
  ? -1 : 1 } else { return a.rating < b.rating ? 1 : -1 }}) %>
</div>

<h1 style="color: #54b4d3"><%= artist %> Albums</h1>

<div>
  <form action="/albums/new">
    <button class="btn btn-outline-info mb-5">
      Add a new album to your list
    </button>
  </form>
</div>

<ul>
  <% for(let album of albums){%>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div class="card mb-3" style="width: 25rem">
        <div class="card-body">
          <h5 class="card-title"><%= album.name %> - <%= album.rating %></h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= album.artist %></li>
            <li class="list-group-item">
              <a href="/albums/<%= album._id %>" class="btn btn-info me-1">
                See album details
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% } %>
</ul>

<% if(artist !== 'All') {%>
<a href="/albums">
  <button class="btn btn-info btn-lg mb-5">Back to all your albums</button>
</a>
<% } %>
