<%- include('partials/head.ejs') %>

  <body>
    <h1>Albums</h1>
    <ul>
      <% for(let a of albums){ %>
      <li>
        <%= a.album %> - <%= a.rate %> <a href="albums/<%= a.id %>">see more</a>
      </li>
      <% } %>
    </ul>

    <a href="/albums/new">Add a new Album</a>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
