<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <h1><%= album.album %> // id: #<%= album.id %></h1>
    <h2>You rated this album a <%= album.rate %></h2>

    <a href="/albums">Back to your list</a>
    <a href="/albums/<%= album.id %>/edit">Edit this album's info</a>
    <form method="POST" action="/albums/<%=album.id%>?_method=DELETE">
      <button>Delete this album</button>
    </form>
  </body>
</html>
