<%- include('partials/head.ejs') %>

  <body>
    <h1><%= album.album %> // id: #<%= album.id %></h1>
    <h2>You rated this album a <%= album.rate %></h2>

    <a href="/albums">Back to your list</a>
    <a href="/albums/<%= album.id %>/edit">Edit this album's info</a>
    <form method="POST" action="/albums/<%=album.id%>?_method=DELETE">
      <button>Delete this album</button>
    </form>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
